body {

    font-family: 'Open Sans', sans-serif;

    color: white;
    margin: 0px;
    padding: 0px;
    background: url('../img/background.jpg');
    /* height: 2500px; */
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    display: inline-block;
    margin: 1%;
    /* border: 2px solid red; */

}

.mid {
    /* width: 33%; */
    display: block;
    margin: 0px auto;
    /* border: 2px solid yellow; */
    position: absolute;
    top: 2%;
    right: 20%;
    left: 20%;

}


.right {
    position: absolute;
    right: 1%;
    top: 2%;
    display: inline-block;
    margin: 2px;
    /* border: 2px solid brown; */

}

.navbar li {
    display: inline-block;
    font-size: 15px;
}

.navbar li a {
    color: wheat;
    text-decoration: none;
    margin: 20px auto;
    padding: 34px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: yellow;
}

.left img {
    width: 100px;
    height: 80px;
    /* to invert colors */
    filter: invert(30%);
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    /* font-family: 'Open Sans', sans-serif; */
    margin: 15px 9px;
    background-color: black;
    color: white;
    /* padding: 17px 20px; */
    border-radius: 10px;
    border: 1px solid rgb(240, 237, 237);
    font-size: 16px;
    cursor: pointer;
    display: inline;
}

.btn:hover {
    font-family: 'Open Sans', sans-serif;
    background-color: yellow;
    border: 1px solid rgb(240, 237, 237);
    color: rgb(179, 35, 35);
}

.logoname {
    /* border: 2px solid red; */
    display: block;
    text-align: center;
    font-style: italic;
}

#logo:hover {
    filter: invert(0%);
}

.container {
    border: 2px solid white;
    /* margin: 106px 80px; */
    /* padding: 22px 43px; */
    width: 33%;
    border-radius: 28px;
    position: absolute;
    top: 33%;
    left: 33%;
    padding: 0% 0%;
}

.form-group input{    
    text-align: center;
    display: block;
    border: 2px solid black;
    margin: 5% auto;
    font-size: 170%;
    border-radius: 100px;
}
h1{
    text-align: center;
    /* border: 2px solid green; */
}
#submit{
    display: block;
    margin: 17px auto;
    padding: 4px 15px;
}