input#rollnumber{
    color: yellowgreen;
}
option{
    color: teal;
}
select{
    background-color: turquoise;
}

p {
    color: rgb(87, 9, 9);
    font-family: 'Andika New Basic', sans-serif;
    font-weight: bold;
    line-height: 1.3em;
}

.container {
    width: 700px;
    border: 2px solid red;
    margin: 40px auto;
    box-sizing: border-box;
}

.item {
    border: 3px solid rgb(148, 114, 114);
    margin: 12px 3px;
    padding: 12px 16px;
    background: #ebff49;
    box-sizing: border-box;
}

#fruits {
    float: left;
    width: 48%;
    box-sizing: border-box;
    text-align: justify;
}

#computer {
    float: left;
    width: 48%;
    box-sizing: border-box;
    text-align: justify;
}

#stationary {
    /* float: left; */
    width: 97%;
    box-sizing: border-box;
    clear: both;
    text-align: justify;
}

input#name {
    color: rgba(128, 255, 0, 0.884);
}

h3 {
    text-align: justify;
}

.container1 {
    border: 2px solid red;
    background-color: rosybrown;
    padding: 34px;
    margin: 34px;
    width: 666px;
    margin: auto;
}

a:hover {
    /* this property defines to what changes to occur while pointing */
    color: rgb(52, 223, 18);
    /* background-color: cornflowerblue; */
}

a:visited {
    color: cyan;
    background-color: darkkhaki;
}

.btn {
    background-color: salmon;
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: rgb(136, 53, 136);
    border-radius: 36px;
}

.navbar ul {
    overflow: auto;
    /* width: 490px; */
}

.navbar li {
    float: left;
    /* float results in overflow from the parent */
    list-style: none;
    padding: 34px;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.search {
    float: right;
    padding: 32px;
    margin-right: 50px;
}

#search {
    border-radius: 4px;
    box-shadow: black;
}

.navbar li a:hover {
    color: red;
}

.top {
    margin: auto;
    border: 2px solid red;
    /* display: inline; using this the block will take the required space only */
    width: 21%;
}

#display {
    margin: 0px;
    display: block;
    margin: auto;
    text-align: center;
}

#topimg {
    display: block;
    margin: auto;
    width: 80%;
}

.box {
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
    /* box-sizing: border-box; */
    border-bottom-style: dotted;
    display: inline-block;
}

/* position: static(:default), absolute, relative, fixed, sticky */
#box3 {
    /* relative: relative to its normal position */
    /* absolute: relative to its site's parent position */
    /* fixed: to be fixed at specific position even on scrolling */
    /* sticky:  to stick to top while scrooling*/
    position: fixed;
    bottom: 34px;
    right: 34px;
}

#con {
    background-color: rosybrown;
}

#topheading {
    display: inline;
    position: sticky;
    top: 1%;
    left: 1%;
}

.box-v{
    width: 170px;
    height: 170px;
    border: 2px solid black;
}
#box-1{ 
    background-color: green;
    position: relative;
    top: 49px;
    z-index: 55;
}
#box-2{
    /* display: none;  will hide the element and space*/
    /* visibility: hidden;  will hide the element without space*/
    background-color: red;

    /* z-index will only work for position: relative, absolute, fixed or sticky */
    position: relative;
    top: 14px;
    z-index: 34;
}
#box-3{ background-color: blue;}
#box-4{ background-color: yellow;}